<div class="container">
  <div class="section-title text-center mt-4 mb-4">
    <h1>Шаг <span class="badge bg-secondary">1</span> </h1>

  </div>
  <form class="example-form" [formGroup]="clientForm" (ngSubmit)="submitClientForm()">
    <div class="row ">
      <div class="col-lg-2 col-md-6 mb-3">
        <mat-form-field class="w-100">
          <mat-label>Имя</mat-label>
          <input type="text" matInput formControlName="name">
          <mat-error *ngIf="formControls['name']?.hasError('required')">
            Введите Имя
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-lg-2 col-md-6 mb-3">
        <mat-form-field class="w-100">
          <mat-label>Фамилия</mat-label>
          <input type="text" matInput formControlName="lastname">
          <mat-error *ngIf="formControls['lastname']?.hasError('required')">
            Введите фамилию
          </mat-error>

        </mat-form-field>
      </div>
      <div class="col-lg-2 col-md-6 mb-3">
        <mat-form-field class="w-100">
          <mat-label>Отчество</mat-label>
          <input type="text" matInput formControlName="middleName">
        </mat-form-field>
      </div>
      <div class="col-lg-3 col-md-6 mb-3">
        <mat-form-field class="w-100" dateFormat="YYYY">
          <mat-label>Дата рождения</mat-label>
          <input readonly matInput [matDatepicker]="picker" (click)="picker.open()" formControlName="birthday">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="multi-year"></mat-datepicker>
          <mat-error *ngIf="formControls['name'].hasError('required')">
            Введите дату рождения
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-lg-3 col-md-6 mb-3">

        <mat-form-field class="w-100">
          <mat-label>Номер телефона</mat-label>
          <input mask="00000000000" type="text" matInput formControlName="phone">
          <mat-error *ngIf="formControls['phone']?.hasError('required')">
            Введите номер телефона
          </mat-error>
          <mat-error *ngIf="formControls['phone']?.hasError('minlength')">
            Введите правильный номер телефона(минимум 11)
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-lg-3 col-md-6 mb-3">
        <mat-form-field class="w-100">
          <mat-label>Пол</mat-label>
          <mat-select formControlName="gender">
            <mat-option value="мужской">
              мужской
            </mat-option>
            <mat-option value="женский">
              женский
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-3 col-md-6 mb-3">
        <mat-form-field class="w-100">
          <mat-label>Группа клиентов</mat-label>
          <mat-select multiple formControlName="clientType">
            <mat-option *ngFor="let type of clientType" [value]="type">{{type}}</mat-option>
          </mat-select>
          <mat-error *ngIf="formControls['clientType']?.hasError('required')">
            Выберите тип клиента
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-lg-3 col-md-6 mb-3">
        <mat-form-field class="w-100">
          <mat-label>Координатор</mat-label>
          <mat-select formControlName="cordinator">
            <mat-option *ngFor="let cordinator of cordinators" [value]="cordinator">
              {{cordinator}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-3 mb-3">
        <div class="text-center">
          <mat-slide-toggle class="example-margin" formControlName="sendMessage">
            Не отправлять СМС.
          </mat-slide-toggle>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center">
          <button type="submit" class="btn btn-success mt-2">Сохранить</button>
        </div>
      </div>
    </div>
  </form>

</div>